* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

@font-face {
    font-family: logoFont;
    src: url(./assets/SwipeRaceDemo.ttf);
}
.dashboard {
    display: grid;
    grid-template: 1fr 5fr / 1fr 5fr;
    height: 100vh;
}

.side_bar {
    background-color: #171717;
    grid-area: 1 / 1 / 3 / 2;
    display: grid;
    grid-template-rows: 1fr 4fr 3fr;
    color: #be185d;
    font-weight: bolder;
}

.logo {
    font-family: logoFont;
    font-size: 20px;
    display: flex;
    justify-self: center;
    align-self: center;
}

.sidebar_item > a:link, .sidebar_item > a:visited, .sidebar_item > a:hover, .sidebar_item > a:active {
    color:#be185d;
    text-decoration: none;
}

.sidebar_item > a {
    padding-left: 5px;
    font-size: 15px;
}

.sidebar_item > img {
    position: relative;
    top: 4px;
}

.nav, .utility {
    gap: 10px;
    padding-left: 15px;
}

.nav {
    display: grid;
    grid-template-rows: repeat(5, 3em);
}

.utility {
    display: grid;
    grid-template-rows: repeat(3, 3em);
    align-self: end;
}

.top_bar{
    background-color: #be185d;
    grid-area: 1 / 2 / 2 / 3;
    display: grid;
    grid-template-columns: 3fr 1fr;
    color:#171717;
    font-weight: bolder;
    box-shadow: 2px 5px 10px black;
    position: relative;
}
.search {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    align-items: center;
    justify-items: start;
    padding: 0;
    margin-left: 15px;
}

.search_bar{
    background: #a3a3a3;
    outline: none;
    border: none;
    border-radius: 1.5rem;
    padding: 0 3.5rem 0 1.5rem;
    font-size: 1rem;
    height: 30px;
}

.profile {
    grid-area: 1 / 2 / 2 / 3;
    display: grid;
    grid-template-columns: repeat(3, 50px);
    align-items: center;
    gap: 10px;
    margin: 10px;
}
.profile > p {
    width: 150px;
    padding-left: 15px;
}

.small_profile {
    height: 50px;
    width: auto;
    border-radius: 100px;
}

.welcome_img > img{
    height: 100px;
    width: auto;
    border-radius: 100px;
}

.welcome {
    grid-area: 2 / 1 / 3 / 2;
    display: flex;
    margin: 15px;
    align-items: center;
}

.hello-names {
    margin-left: 15px;
}

.hi {
    font-size: 15px;
}

.nametag {
    font-size: 25px;
}

.post {
    grid-area: 2 / 2 / 3 / 3;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 15px;
    align-items: center;
}
.post > button {
    height: 3rem;
    width: 5rem;
    border: none;
    border-radius: 25px;
    margin-right: 15px;
    background-color:#a3a3a3;
}

.main_content {
    background-color: #a3a3a3;
    color: white;
    grid-area: 2 / 2 / 3 / 3;
    display: grid;
    grid-template-columns: 3fr 1fr;
    color: #be185d;
    font-weight: bolder;
    font-size: 30px;
}

.projects {
    margin: 20px;
}

.projects_top, .ann_top, .trending_top {
    margin-bottom: 10px;
    padding-left: 20px;
}

.project_bubbles {
    font-size: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 400px));
    gap: 50px;
}

.bubble {
    background-color: #171717;
    padding: 40px;
    font-size: medium;
    border-radius: 25px;
    box-shadow: 5px 3px 10px black;
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    border-left: solid 10px #be185d;
}

.bubble_head{
    font-size: 20px;
    font-weight: bold;
}

.bubble_body, .descrip {
    opacity: .5;
}

.project_images {
    justify-self: right;
}

.right_main {
    margin-top: 15px;
    margin: 20px;
}

.ann_bubble, .trend_box {
    background-color: #171717;
    border-radius: 25px;
    font-size: 15px;
    padding: 30px;
    margin: 10px;
    box-shadow: 5px 3px 10px black;
}

.profiles {
    display: grid;
    grid-template-columns: 30% 70%;
    margin: 10px;
    align-items: center;
}

.ann_bubble > div {
    padding: 10px;
}

.border_bottom {
    border-bottom: #a3a3a3 1px solid;
}

button:hover {
    background-color: #6b6b6b;
}